
.slide-in{
    width:100%;
    background:rgba(34, 34, 34, 0.89) !important; 
    transform: translateX(0px);
    @include breakpoint(large xlarge ){
        width: 50%;
        height: 100%;
        transform: translateY(0px);
        background: rgba(34, 34, 34, 0.89) !important; 
    }
}
.slide-out{
    width:100%;
    background:rgba(34, 34, 34, 0.89) !important; 
    transform: translateX(-100%);
    @include breakpoint(large xlarge ){
        width: 50%;
        height: 100%;
        transform: translateY(-100%);
        background: rgba(34, 34, 34, 0.89) !important; 
    }
}


.mobile-ofc {
    padding: rem-calc(50 0 0 0);
    color: $white;
    background: $jet;
    font-size: rem-calc(18);
    font-weight: bold;
  
    .menu{
        padding-top:rem-calc(30);
    }
    .menu li {
      height: 45px;
      line-height: 45px;
      color: $light-gray;
      padding-top: rem-calc(1.8);
      padding-left: rem-calc(50);
      padding-bottom: 0;
  
      &:hover:not(.button),
      &:focus {
        background: darken($topbar-background, 20%);
      }
  
      &.button {
        border-radius: 0;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  
    .title {
      color: $dark-gray;
      padding: 10px;
      padding-left: 15px;
      font-size: 0.8em;
      background: lighten($topbar-background, 10%);
    }
  }